*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ff416c,#ff4b2b);
}

.container{
    width:90%;
    max-width:400px;
    background:#fff;
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

h1{
    color:#ff2e63;
    margin-bottom:25px;
}

.circle{
    width:170px;
    height:170px;
    margin:20px auto;
    border-radius:50%;
    border:8px solid #ff2e63;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
    font-weight:bold;
    color:#ff2e63;
}

.input-box{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:25px;
}

.input-box input{
    height:50px;
    border:2px solid #ddd;
    border-radius:10px;
    padding:0 15px;
    font-size:16px;
    outline:none;
}

.input-box input:focus{
    border-color:#ff2e63;
}

button{
    margin-top:25px;
    width:100%;
    height:50px;
    border:none;
    border-radius:10px;
    background:#ff2e63;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#e6004c;
}

@media(max-width:480px){

    .circle{
        width:140px;
        height:140px;
        font-size:35px;
    }

    h1{
        font-size:28px;
    }

}